<!DOCTYPE html>
<html>
<head>
  <title>Airport Distance Calculator | Gideon Jadlovker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" 
    src="http://maps.googleapis.com/maps/api/js?key="+ ENV['GOOGLE_MAP_KEY'] > </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
